@model FullStopDotNet2014.Web.ViewModels.Admin.BlogPostViewModel

@{
    ViewBag.Title = "Edit Blog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Edit Blog</h2>
@Html.EditorForModel()