@using FullStopDotNet2014.Web.ViewModels
@model ModalEditViewModelBase<FullStopDotNet2014.Web.ViewModels.Admin.TextResourceViewModel> 

@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<div>
    @Html.EditorFor(x=>x.ViewModel)
    @*@Html.EditorFor(x => x.ViewModel.Value)*@
</div>